<h2>About Me</h2>
<p>
  Motivated and detail-oriented software developer in training currently
  pursuing the Software Systems Developer Program at BCIT, an intensive and
  hands-on program focused on C#, Java, HTML, CSS, JavaScript, and SQL. <br />
  Bringing 3.5+ years of enterprise software development experience at
  Accenture, specializing in Java, Spring Batch, and RESTful APIs.
  <br />
  Skilled in agile methodologies, problem-solving, and collaboration, with a
  strong commitment to building scalable, efficient, and user-centered
  applications.
</p>
